
.more-details{
  margin-top:5px;
  text-align: left;
  padding-bottom:3%;
  background-color: #f1faee;
}
a{
  color:#f1faee;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}