.work-history-container{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.work-history-intro{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
 // background-color:#E63946;
  color: #f1f1f1;
}
.work-history-picture-container {
  width: 30%;
  margin-bottom: 0;
}
.work-history-picture {
  //height: 50vh;
}
.work-history-quote{
  width: 50%;
  background-color:#E63946;
  padding: 5%;
}
.resume-container{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.work-experience-header {
  display:flex;
  width: 25%;
  text-align: left;
  padding-left:2%;
  background-color: #1d3557;
  color: white;
  padding-top: 10%;
}

.work-experience-examples{
  padding-top: 10%;
  padding-left: 5%;
  width: 65%;
  align-items: left;
  justify-content: flex-start;
  text-align: left;
}

