.work-history-container{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.work-history-intro{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #f1f1f1;
}

.work-history-quote-container {
  margin-top:0;
  width: 100%;
  height: 80vh;
  background-color: #eff3fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.work-history-quote{
  display: flex;
  width: 80%;
  height:70%;
  background-color:#ed6d77;
  padding: 5%;
  align-items: center;
}

.resume-container{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.work-experience-header {
  width: 25%;
  text-align: left;
  padding:2%;
  background-color: #1d3557;
  color: white;
  padding-top: 10%;
}

.work-experience-examples{
  padding-top: 10%;
  padding-left: 5%;
  width: 65%;
  align-items: left;
  justify-content: flex-start;
  text-align: left;
}

