.projects-section-header{
  padding: 5%;
  margin-bottom: 3%;
  background-color: #1d3557;
  color: white;
}

.projects-title{
  margin-bottom: 4%;
  font-weight: 100;
}

.projects-paragraph{
  text-align: justify;
  font-weight:400;
}

.projects-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  margin-bottom: 0;
}
.project{
  margin: 3%;
  flex-grow: 1;
}