.contact-icons{
  background: none;
  display: inline;
  float:right;

.icon-image{
  width:75px;
  height: 75px;
}
  
}
.contact-container{
  text-align: left;
  padding-left:5%;
}

.contact-form{
  text-align:left;
  margin-right:5%;
  margin-bottom: 5%;
}

