.contact-container{
  display: flex;
  flex-direction: column;
  margin-top: 10%;

}
.contact-header{
  margin-bottom: 3%;
  color: #1d3557;
}

.contact-form{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.icon-image{
  height: 15vh;
}
.contact-icons:hover{
  cursor: pointer;
}