

.project-item-container {
  display:flex;
  flex-direction: column;
}

.project-item{
  border: solid 1px #DCDCDC;
  border-radius:5px;
}

.project-image{
  height:30vh;
  width: auto;
  flex-grow: 1;
}

.project-description{
  background-color: #1d3557;
  padding-top:5%;
  color: white;
  text-align:left;
  padding-left:5%;
  border-radius:2%;
  flex-grow: 1;
}

button {
  color: white;
  border: none;
  background-color: transparent;
  padding-bottom:5%;
  text-align:left;
}
button:active{
  border: none;
}

button:hover {
  color: black;
}

.more-details{
  margin-top:5px;
  text-align: center;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align:justify;
}
