.header-content{
  display:flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
}
.text-box{
  text-align: left;
  background-color:#E63946;
  color:#f1faee;
  flex-grow: 1;
}
.text{
  padding-top:30vh;
  padding-left: 5%;
  padding-right: 5%;
}

.everest-image{
  flex-grow: 3;
}
.background-image{
  width:100%;
  height: auto;
  margin-left:0;
}

.hello{
  font-family: 'Cedarville Cursive', cursive;
}

.see-work-button{
  margin-top:10%;
  font-size:20px;
  font:bold;
}