.header-content{
  display:flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
}
.header-text-box{
  text-align: left;
  background-color:#E63946;
  color:#f1faee;
  flex-grow: 1;
}
.header-text{
  margin-top:30vh;
  margin-left: 5%;
  margin-right: 5%;
}

.everest-image{
  flex-grow: 3;
  margin-right:0;
  overflow: hidden;
}
.background-image{
  width:100%;
  height: auto;
  overflow: hidden;
}

.hello{
  font-family: 'Cedarville Cursive', cursive;
}

.see-work-button{
  margin-top:15%;
  font-size:20px;
  font:bold;
  border: solid white 2px;
  padding: 3%;
  border-radius: 20px;
}

.see-work-button:hover{
  cursor: pointer;
  border: solid white 2px;
  padding: 3%;
  border-radius: 20px;
}