
.text-box{
float:left;
padding-top:30vh;
padding-left:5%;
text-align: left;
background-color:#FF4B4B;
color:white;
}
.text{
  margin-left:5%;
}

.background-image{
  width:100%;
  height: auto;
  margin-left:0;
}
.hello{
  font-family: 'Cedarville Cursive', cursive;
}