
.text-box{
float:left;
padding-top:30vh;
padding-left:5%;
text-align: left;
background-color:#E63946;
color:#f1faee;
}
.text{
  margin-left:5%;
}

.background-image{
  width:100%;
  height: auto;
  margin-left:0;
}
.hello{
  font-family: 'Cedarville Cursive', cursive;
}

.see-work-button{
  margin-top:10%;
  font-size:20px;
  font:bold;
}