.contact-us-button{
  background-color: white;
  font-weight:500;
  border: none; 
  font-size: 18px;
  margin-top: 3%;
}

.contact-us-button:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 19px;
}

.contact-form{
  font-weight: 300;
}

label {
  font-size: 18px;
  margin-bottom:0 !important;
  padding-bottom: 0 !important;
}
input {
  margin-top: 0 !important;
  padding: 0 !important;
}

