

/*For  Big tablets (Widths smalle than the 1140px row) */
@media only screen and (min-width: 1200px){
  .main-nav li {
    display: inline-block;
  }
  #hamburger{display:none;}
}


/*For  Big tablets (Widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
  .main-nav li {
    display: block !important;
  }
  #hamburger{display:none;}
}



/*For  small tablets to large tablets up to 767-1023 */
@media only screen and (max-width: 1048px){
  body{font-size: 18px; }
  #hamburger{
    display:none;
  }
 
}


/*For  small phones and tablets up to 481- 767 */
@media only screen and (max-width: 910px){
  body{font-size: 16px}

  .main-nav{
    text-align: center;
    width: 100%;
    display:none;
  }
  .main-nav li {
  display: block;
  margin-top:2%;
  float: left;
  }
  #toggle:checked + .main-nav{
    display: block;
    margin-top: 0;
    width: 100%;
    float:right;
    padding-bottom: 5px;
  }
  #toggle:checked + label{
    display:none;
  }
  #hamburger{
    display: block;
    cursor: pointer;
    float:right;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper img {
    height: 100%;
    width: 100%;
  }
  .header-text-box{
    height: 60vh;
  }
  .header-text{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
  }
  .see-work-button{
    margin-top: 2% !important;
  }

}


/*For  small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
  

}