

/*For  Big tablets (Widths smalle than the 1140px row) */
@media only screen and (min-width: 1200px){
  .main-nav li {
    display: inline-block;
  }
  #hamburger{display:none;}
}


/*For  Big tablets (Widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
  .main-nav li {
    display:inline-block;
  }
  #hamburger{display:none;}
}



/*For  small tablets to large tablets up to 767-1023 */
@media only screen and (max-width: 1075px){
  body{font-size: 18px; }
  #hamburger{
    display:none;
  }
  /*Work-Experience */

  .title {
    font-size: 200%;
  }
 
}



/*For  small phones and tablets up to 481- 767 */
@media only screen and (max-width: 943px){
  body{font-size: 16px}
  /*nav bar */
  .main-nav{
    text-align: center;
    width: 100%;
    display:none;
  }
  .main-nav li {
  display: block;
  margin-top:2%;
  float: left;
  }
  #toggle:checked + .main-nav{
    display: block;
    margin-top: 0;
    width: 100%;
    float:right;
    padding-bottom: 5px;
  }
  #toggle:checked + label{
    display:none;
  }
  #hamburger{
    display: block;
    cursor: pointer;
    float:right;
  }

  /* header */
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper img {
    height: 100%;
    width: 100%;
  }
  .header-text-box{
    height: 60vh;
    font-size: 16px !important;
  }
  .header-text{
    margin-top: 3% !important;
    margin-bottom: 2.5% !important;
  }
  .projects-title{
    font-size: 350%;
  }
  .button-container{
    margin-top: 0 !important;
    font-size: 10px;
  }
  .see-work-button{
    font-size:15px !important;
    padding: 1.5% !important;
    margin-bottom: 1.5%;
    border: solid white 1px !important;
  }

  /*Work-Experience */
  .title {
    font-size: 175%;
  }

}

@media only screen and (max-width: 745px){
  .resume-container{
    flex-direction: column !important;
    margin-right: 0 !important;
  }
  .work-experience-header {
    width: 100% !important;
    text-align: center !important;
    padding-bottom: 10% !important; 
    font-size: 175%;
  }
  .title{
    font-size: 250%;
  }
  .work-experience-examples{
    padding-top: 5% !important;
    padding-left: 20% !important;
    padding-right: 15% !important ;
    width: 100% !important;
    text-align: left;
  }

  .education-container{
    flex-direction: column-reverse !important;
    margin-right: 0 !important;
  }
  .education-header {
    width: 100% !important;
    text-align: center !important;
    padding-bottom: 10% !important; 
    font-size: 175%;
  }
  .education-examples{
    padding-top: 5% !important;
    padding-left: 20% !important;
    padding-right: 15% !important ;
    width: 100% !important;
    text-align: left;
  }

  .contact-header {
    background-color: #1d3557 !important;
    color: white !important;
    padding: 10%;
  }
}


/*For  small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
  body{font-size: 16px}
  #toggle:checked + .main-nav{
    display: block;
    margin-top: 0;
    width: 100%;
    float:right;
    padding-bottom: 5px;
  }
  #toggle:checked + label{
    display:none;
  }
  #hamburger{
    display: block;
    cursor: pointer;
    float:right;
  }

}
@media only screen and (max-width: 421px){
  body{font-size: 14px}
  #toggle:checked + .main-nav{
    padding-bottom: 1px;
  }
  .title{
    font-size: 200%;
  }
  .header-text{
    margin-top: 15% !important;
    margin-bottom: 2.5% !important;
  }
}

@media only screen and (max-width: 340px){
  .project-image{
    height:18vh !important;
  }
  .title{
    font-size: 175% !important;
  }


}